.bookAppointmentDiv {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bs-l-mode-default-transparent-black-color);
  left: 0;
  z-index: 1110;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookAppointmentDiv_Area {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: none;
}
