.footerSection {
  padding: 4em 0em;
  background: var(--bs-l-mode-default-mid-grey);
}

.footerArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.footer_links_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  gap: 25px;
}
.footer_link1 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.horizontal_rule {
  background: var(--bs-l-mode-default-grey);
  color: var(--bs-l-mode-default-grey);
  width: 100%;
}
.footer_txt {
  font-size: 14px;
  text-align: center;
  color: var(--bs-l-mode-default-darker-grey);
  padding: 2em;
  padding-top: 0em;
}
.footer_logo {
  width: 200px;
}
.footer_icon {
  font-size: 35px !important;
  border: 2px solid var(--bs-l-mode-default-green);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  color: var(--bs-l-mode-default-green);
  transition: 0.3s all linear;
}
.footer_icon:hover {
  border: solid 2px var(--bs-l-mode-default-green);
  background: var(--bs-l-mode-default-green);
  color: var(--bs-l-mode-default-color);
  transition: 0.3s all linear;
}
