.header_area {
  display: flex;
  align-items: center;
  padding: 1em 0em;
  justify-content: space-between;
}

.header_img {
  width: 120px;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  background: var(--bs-l-mode-default-mid-grey);
  position: fixed;
  top: 0;
  z-index: 1100;
  width: 100vw;
  box-shadow: 0px 0px 10px var(--bs-l-mode-default-green);
}
.header_logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.poweredBy {
  font-size: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
.header_link_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_link {
  color: var(--bs-l-mode-default-black-color);
  font-size: 13px;
  font-weight: 600;
  margin-right: 20px;
}
.vl {
  width: 1.5px;
  height: 34px;
  background: var(--bs-l-mode-default-light-green2);
  margin-right: 15px;
}
