.hero_section {
  position: relative;
  padding-top: 4.5em;
}
.iconsCardsSection {
  padding: 4em;
  position: relative;
}
.StepsSection {
  padding: 4em;
  background: var(--bs-l-mode-default-mid-grey);
  position: relative;
}
.WPTU_Section {
  padding: 4em;
}
.Best_Offers_Section {
  padding: 4em;
  background: var(--bs-l-mode-default-mid-grey);
  position: relative;
}
.soundsGood_section {
  padding: 4em;
  position: relative;
}
.partners_section {
  padding: 4em 0em;
  background: var(--bs-l-mode-default-color);
  position: relative;
}
