.hero_section {
  position: relative;
  padding-top: 4.5em;
  overflow: hidden;
}
.iconsCardsSection {
  padding: 4em;
  position: relative;
  overflow: hidden;
}
.StepsSection {
  padding: 4em;
  background: var(--bs-l-mode-default-mid-grey);
  position: relative;
  overflow: hidden;
}
.WPTU_Section {
  padding: 4em;
  overflow: hidden;
}
.Best_Offers_Section {
  padding: 4em;
  background: var(--bs-l-mode-default-mid-grey);
  position: relative;
  overflow: hidden;
}
.soundsGood_section {
  padding: 4em;
  position: relative;
  overflow: hidden;
}
.partners_section {
  padding: 4em 0em;
  background: var(--bs-l-mode-default-color);
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1100px) {
  .iconsCardsSection {
    padding: 4em 1em;
    position: relative;
    overflow: hidden;
  }
  .StepsSection {
    padding: 4em 1em;
    overflow: hidden;
  }
  .WPTU_Section {
    padding: 4em 1em;
    overflow: hidden;
  }
  .Best_Offers_Section {
    padding: 4em 1em;
    overflow: hidden;
  }
  .soundsGood_section {
    padding: 4em 1em;
    overflow: hidden;
  }
}
@media screen and (max-width: 991px) {
  .salesForm {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .iconsCardsSection {
    padding: 2em 1em;
    position: relative;
    overflow: hidden;
  }
  .StepsSection {
    padding: 2em 1em;
    overflow: hidden;
  }
  .WPTU_Section {
    padding: 2em 1em;
    overflow: hidden;
  }
  .Best_Offers_Section {
    padding: 2em 1em;
    overflow: hidden;
  }
  .soundsGood_section {
    padding: 2em 1em;
    overflow: hidden;
  }
  .partners_section {
    padding: 2em 0em;
  }
}
