.marquee {
  justify-content: space-between !important;
  gap: 20px !important;
}
.partnerLogo {
  max-width: 220px;
  filter: grayscale(1);
  cursor: pointer;
}
.partnerLogo:hover {
  filter: none;
}
