:root {
  --bs-l-mode-default-color: #ffffff;
  --bs-l-mode-default-light-grey: #c9c9c9;
  --bs-l-mode-default-mid-light-grey: #fbfbfb;
  --bs-l-mode-default-mid-grey: #f6f6f6;
  --bs-l-mode-default-mid-dark-grey: #f3f3f3;
  --bs-l-mode-default-mid-darker-grey: #d1d1d1;
  --bs-l-mode-default-dark-grey: #b7b7b7;
  --bs-l-mode-default-darker-grey: #858585;
  --bs-l-mode-default-black-color: #000000;
  --bs-l-mode-default-green: #388f6f;
  --bs-l-mode-default-light-green: #b8ffcd;
  --bs-l-mode-secondary-green: #6fb684;
  --bs-l-mode-default_darker-green-shadow: #095639;
  --bs-l-mode-default_darker-green: #05442c;
  --bs-l-mode-default-peach: #e4a788;
  --bs-l-mode-default-peach-shadow: #e9b092;
  --bs-l-mode-default-green-shadow: #67c2a0;
  --bs-l-mode-default-light-green-shadow: #c1e5d8;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  text-decoration: none !important;
}
body {
  background: var(--bs-l-mode-default-color) !important;
}
html {
  scroll-behavior: smooth;
  transition: 2s ease-in;
}

a {
  text-decoration: none !important;
  color: #229e54;
}
li {
  list-style: none;
}
button:focus {
  outline: unset !important;
}
/* input:focus-visible {
  outline: none;
  border: none;
  border-color: none;
  border-width: 0;
  box-shadow: none;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
} */
/* input:-internal-autofill-selected {
  background-color: #4fcb81 !important;
} */
.css-viou3o-MuiAutocomplete-root {
  width: 100% !important;
}
/* .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  box-shadow: 0px 0px 5px #dadada;
} */
/* .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
} */

.react-multiple-carousel__arrow::before {
  color: #000 !important;
  display: block;
  font-weight: 900 !important;
}

.react-multiple-carousel__arrow {
  background: #ffffff9c !important;
}
.react-multiple-carousel__arrow:hover {
  background: #ffffff !important;
}
.react-multiple-carousel__arrow--left {
  left: calc(4% + -55px) !important;
}
.react-multiple-carousel__arrow--right {
  right: calc(4% + -55px) !important;
}
