.saleFormDiv {
  position: absolute;
  max-width: 325px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 20%;
  left: 15%;
  right: 68%;
  /* height: 100%; */
  background: var(--bs-l-mode-default-color);
  padding: 2em 1.5em;
  border-radius: 10px;
  padding-top: 1em;
  box-shadow: 0px 0px 10px;
}
.header_sale_form {
  display: none;
}
.saleFormHeadingTab {
  text-align: center;
  border-bottom: solid 2px var(--bs-l-mode-default-green);
  padding-bottom: 0.5em;
  color: var(--bs-l-mode-default-green);
}
.salesInputArea {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form_select_input {
  width: 100%;
  padding: 1em 1em;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0px 5px var(--bs-l-mode-default-light-grey);
}
.bookAppointmentDiv {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bs-l-mode-default-transparent-black-color);
  left: 0;
  z-index: 1110;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.appointment_formDiv {
  padding: 2em;
  background: var(--bs-l-mode-default-color);
  border-radius: 10px;
  min-width: 0px;
  width: 100%;
  max-width: 470px;
  box-shadow: 0px 0px 10px var(--bs-l-mode-default-black-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100vh;
  overflow: scroll;

  /* gap: 20px; */
}
.appointment_form_input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.appointment_formTitle {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  width: 100%;
}
.book_an_appointment_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.close_appointment_icon {
  font-size: 28px;
  background: var(--bs-l-mode-default-lighter-green);
  border-radius: 5px;
  cursor: pointer;
  padding: 2px;
  color: var(--bs-l-mode-default-green);
}
.optional {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  color: #d63d3d;
  font-weight: 600;
}
@media screen and (max-width: 1695px) {
  .saleFormDiv {
    left: 10%;
    right: 70%;
  }
}
@media screen and (max-width: 1580px) {
  .saleFormDiv {
    left: 8%;
    right: 71%;
  }
}
@media screen and (max-width: 1465px) {
  .saleFormDiv {
    position: absolute;
    max-width: 325px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 18%;
    left: 5%;
    right: 50%;
    /* height: 100%; */
    background: var(--bs-l-mode-default-color);
    padding: 2em 1.5em;
    border-radius: 10px;
    padding-top: 1em;
    box-shadow: 0px 0px 10px var(--bs-l-mode-default-dark-grey_shadow);
  }
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 500px) {
  .appointment_formDiv {
    border-radius: 0px;
    overflow: scroll;
  }
}
